fastapi
uvicorn
sqlalchemy
pydantic
pymysql
alembic
motor
cryptography
python-multipart
passlib
bcrypt
python-dotenv
aiomysql
aiohttp
pandas
firebase-admin
python-jose[cryptography] 
passlib[bcrypt]
uvicorn